
body
{
	background-image: url(assets/background-image1.png);
	background-repeat: no-repeat;
	background-position: bottom  right;
	background-size: 60%;
}
.div1
{
	position: relative;
	height: 80vh;
}
.div2
{
	margin-top: 100px;
	margin-left: 10%;
	margin-bottom:3%;
}
.c1
{
	 position: absolute;
	 top: 10px;
	 right: 100px;
}
table
{
	width: 70%;
	height: 410px;
	margin-left: 50px;
    border-collapse: collapse;
	background-color: white;
}
table tr:first-child
{
	background: orangered;
	color: white;
	font-size: medium;
}
tr,td
{
	border-bottom: 2px solid lightgray;
	font-size: medium;
	text-align: left;
}
#League
{
	font-size:40px;
	font-weight: lighter;
	font-family: 'Times New Roman', Times, serif;
}
#Match
{
	font-size: 25px;
	color: gray;
}
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 50px;
	margin-left: 200px;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
}